.home_page{

  & .accordion-button::after {
    display: none;
  }

  & button {
    border: none;

  }

  & input{
    text-align: center;
    font-weight: 600;
  }
  

}

body{
  background-color:rgb(234, 245, 255);
}
.accordion button{
  background: none;
}